body {
    text-align: center;
}

#tictactoe {
    width: 800px;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

button {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightgray;
  font-size: 2em;
}
